<div class="alert alert-success text-center" role="alert">
  <h4>Mutation Score is: <%=score%></h4>
</div>
<h6>Following Projects were used in the analysis with K-Value <%= k_val %>: </h6>
<div class="table-responsive bg-white">
  <table class="table align-items-center mb-0">
    <thead>
      <tr>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Description</th>
      </tr>
    </thead>
    <tbody>
      <% projects.each_with_index do |project, index| %>
        <tr>
          <td class="align-middle">
            <div class="form-check">
              <%= link_to project, 'data-toggle': "tooltip", 'data-placement': "top", title: "View", class: 'text-secondary font-weight-bold text-xs' do %>
                <%= project.name %>
              <% end %>
            </div>
          </td>
          <td class="text-xs font-weight-bold">
            <%= project.description %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
