<style type="text/css">
  .card {
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.051),
      0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09),
      0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129),
      0px 0px 109px rgba(0, 0, 0, 0.18);
  }
</style>
<div class="container-fluid py-4">
  <h6>Following is model's visualization(LeNet-5):</h6>
  <div class="row py-4">
    <div class="col">
      <%= image_tag("lenet.png", class: "img-fluid", style: "height: 300px;") %>
    </div>
    <div class="col">
      <%= image_tag("lenet_model.png", style: "height: 300px; width: 300px;") %>
    </div>
  </div>
  <%= simple_form_for :layer_name, url: root_path, method: "GET" do |f| %>
    <%= f.input :layer_name, as: :select, collection: @layer_names, prompt: "Select Layer Name For Mutation" %>
    <%= f.button :submit %>
  <% end %>
</div>


<div class="row">
  <% @layer_names.each do |layer_name| %>
    <div class="col-xl-3 col-sm-3 mb-xl-0 p-2">
      <%= link_to dashbaord_get_model_details_path(model_name: params[:model_name], layer_name: layer_name) do %>
        <div class="card" style="background-color: <%= color_according_to_layer(layer_name)%>;">
          <div class="row">
            <div class="col-12">
              <div class="numbers">
                <h3 class="font-weight-bolder mb-0">
                  <%= layer_name %>
                </h3>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  var limits = 30.0;
  $(".card").mousemove(function (e) {
    var rect = e.target.getBoundingClientRect();
    var x = e.clientX - rect.left; //x position within the element.
    var y = e.clientY - rect.top; //y position within the element.
    var offsetX = x / rect.width;
    var offsetY = y / rect.height;

    var rotateY = (offsetX) * (limits * 2) - limits;
    var rotateX = (offsetY) * (limits * 2) - limits;

    var shadowOffsetX = (offsetX) * 32 - 16;
    var shadowOffsetY = (offsetY) * 32 - 16;

    $(this).css({
      "box-shadow": (1 / 6) * -shadowOffsetX + "px " + (1 / 6) * -shadowOffsetY + "px 3px rgba(0, 0, 0, 0.051), " +
        (2 / 6) * -shadowOffsetX + "px " + (2 / 6) * -shadowOffsetY + "px 7.2px rgba(0, 0, 0, 0.073), " +
        (3 / 6) * -shadowOffsetX + "px " + (3 / 6) * -shadowOffsetY + "px 13.6px rgba(0, 0, 0, 0.09), " +
        (4 / 6) * -shadowOffsetX + "px " + (4 / 6) * -shadowOffsetY + "px 24.3px rgba(0, 0, 0, 0.107), " +
        (5 / 6) * -shadowOffsetX + "px " + (5 / 6) * -shadowOffsetY + "px 45.5px rgba(0, 0, 0, 0.129), " +
        -shadowOffsetX + "px " + -shadowOffsetY + "px 109px rgba(0, 0, 0, 0.18)",
      transform: "perspective(1000px) rotateX(" + -rotateX + "deg) rotateY(" + rotateY + "deg)"
    });

    var glarePos = rotateX + rotateY + 90;
    $(this)
      .children()
      .children()
      .css("left", glarePos + "%");
  });

  $(".card").mouseleave(function (e) {
    $(".card").css({"box-shadow": "0px 0px 3px rgba(0, 0, 0, 0.051), 0px 0px 7.2px rgba(0, 0, 0, 0.073), 0px 0px 13.6px rgba(0, 0, 0, 0.09), 0px 0px 24.3px rgba(0, 0, 0, 0.107), 0px 0px 45.5px rgba(0, 0, 0, 0.129), 0px 0px 109px rgba(0, 0, 0, 0.18)", "transform": "scale(1.0)"});
    $(".glare").css("left", "100%");
  });
</script>