<div class="container-fluid py-4">
  <h6>Please Select which of the following features you want in analysis:</h6>
  <%= form_for :analysis, url: selected_graphical_analysis_path(model_name: params[:model_name]), method: "GET" do |f| %>
  <div class="form-group form-check form-switch">
    <%= f.check_box :specificity, {class: "form-check-input"}, true, false  %>
    <%= f.label :specificity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :class_accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :class_accuracy, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :f1_score, {class: "form-check-input"}, true, false  %>
    <%= f.label :f1_score, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :recall, {class: "form-check-input"}, true, false  %>
    <%= f.label :recall, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :precision, {class: "form-check-input"}, true, false  %>
    <%= f.label :precision, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :auc, {class: "form-check-input"}, true, false  %>
    <%= f.label :auc, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :sensitivity, {class: "form-check-input"}, true, false  %>
    <%= f.label :sensitivity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :accuracy, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :f_beta, {class: "form-check-input", onclick: "show_field_after_clicking_metric(this)"}, true, false  %>
    <%= f.label :f_beta, class: "form-check-label" %>
  </div>

  <div class="row d-none" id="fbetaRangeDiv">
    <div class="form-group col-6">
       <label for="analysis[fbeta_range]">Range Selection for F Beta</label>
       <br>
      <%= f.range_field :fbeta_range, min: 0, max: 1, class: "form-control-range f-beta", step: "any" %>
      <br>
      <p>Value: <span id="slider_value"></span></p>
    </div>
  </div>

 
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
</div>

<script type="text/javascript">
  var slider = document.getElementById("analysis_fbeta_range");
  var output = document.getElementById("slider_value");
  output.innerHTML = slider.value;
  slider.oninput = function() {
    output.innerHTML = this.value;
  }

  function show_field_after_clicking_metric(event) {
    if (event.checked) {
      $('#fbetaRangeDiv').removeClass("d-none");
    }
    else {
      $('#fbetaRangeDiv').addClass("d-none");
    }
  }  
</script>
