<div class="container-fluid py-4">
  <h6>Please Select which of the following features you want in analysis:</h6>
  <%= form_for :analysis, url: selected_tabular_analysis_path(model_name: params[:model_name]), method: "GET" do |f| %>
  <div class="form-group form-check form-switch">
    <%= f.check_box :specificity, {class: "form-check-input"}, true, false  %>
    <%= f.label :specificity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :class_accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :class_accuracy, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :f1_score, {class: "form-check-input"}, true, false  %>
    <%= f.label :f1_score, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :recall, {class: "form-check-input"}, true, false  %>
    <%= f.label :recall, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :precision, {class: "form-check-input"}, true, false  %>
    <%= f.label :precision, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :auc, {class: "form-check-input"}, true, false  %>
    <%= f.label :auc, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :sensitivity, {class: "form-check-input"}, true, false  %>
    <%= f.label :sensitivity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :accuracy, class: "form-check-label" %>
  </div>
 
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
</div>
