<div class="container-fluid py-4">
  <h6>Please Select which of the following features you want in analysis:</h6>
  <%= form_for :analysis, url: selected_tabular_analysis_path(model_name: params[:model_name]), method: "GET" do |f| %>
  <div class="form-group form-check form-switch">
    <%= f.check_box :specificity, {class: "form-check-input"}, true, false  %>
    <%= f.label :specificity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :class_accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :class_accuracy, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :f1_score, {class: "form-check-input"}, true, false  %>
    <%= f.label :f1_score, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :recall, {class: "form-check-input"}, true, false  %>
    <%= f.label :recall, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :precision, {class: "form-check-input"}, true, false  %>
    <%= f.label :precision, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :auc, {class: "form-check-input"}, true, false  %>
    <%= f.label :auc, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :sensitivity, {class: "form-check-input"}, true, false  %>
    <%= f.label :sensitivity, class: "form-check-label" %>
  </div>

  <div class="form-group form-check form-switch">
    <%= f.check_box :accuracy, {class: "form-check-input"}, true, false  %>
    <%= f.label :accuracy, class: "form-check-label" %>
  </div>
 
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
<% end %>
</div>


<div class="row">
  <div class="col-11">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h6>Specificity Table</h6>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center justify-content-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">0</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">1</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">2</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">3</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">4</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">5</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">6</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">7</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">8</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">9</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><p class="text-sm font-weight-bold mb-0">$2,500</p></td>
                <td><p class="text-sm font-weight-bold mb-0">$2,500</p></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
                <td><span class="text-xs font-weight-bold">working</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

