<div class="container-fluid py-4">
  <h4>Hi, <%= current_user.email %></h4>
  <h6>Following is Graphical Analysis of Both(Mutated & Original Models):</h6>
</div>
<div class="mt-4">
  <%= link_to "Back", specific_model_graph_eval_path(model_name: params[:model_name]), class: "btn btn-secondary" %>
</div>
<div class="row mt-4">
  <% if @org_accuracy.present? %>
  <div class="col-lg-5 mb-lg-0 mb-4">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Accuracy Comparison of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-bars" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @org_specificity.present? %>
  <div class="col-lg-7">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Specificity Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row mt-4">
  <% if @org_class_accuracy.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Class-Accuracy Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-class-acc" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @org_f1_scores.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>F1-Score Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-f1" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row mt-4">
  <% if @org_recalls.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Recall Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-recall" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @org_precision.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Precision Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-precision" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="row mt-4">
  <% if @org_auc.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>AUC Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-auc" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% if @org_sensitivity.present? %>
  <div class="col-lg-6">
    <div class="card z-index-2">
      <div class="card-header pb-0">
        <h3>Sensitivity Comparison Of Both Models.</h3>
      </div>
      <div class="card-body p-3">
        <div class="chart">
          <canvas id="chart-line-sensitivity" class="chart-canvas" height="400"></canvas>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<script>
function getChartOptions() {
    const chartBarOptions = {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
      scales: {
        y: {
          grid: {
            drawBorder: false,
            display: true,
            drawOnChartArea: true,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            padding: 10,
            color: '#b2b9bf',
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
        x: {
          grid: {
            drawBorder: false,
            display: false,
            drawOnChartArea: false,
            drawTicks: false,
            borderDash: [5, 5]
          },
          ticks: {
            display: true,
            color: '#b2b9bf',
            padding: 20,
            font: {
              size: 11,
              family: "Open Sans",
              style: 'normal',
              lineHeight: 2
            },
          }
        },
      },
    };

    return chartBarOptions;
  }

  <% if @org_accuracy.present? %>
  var ctx = document.getElementById("chart-bars").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Original Model", "Mutated Model"],
      datasets: [{
        label: "Overall Accuracy",
        data: <%= [@org_accuracy, @mutated_accuracy].flatten %>,
      }, ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
    },
  });
  <% end %>

  <% if @org_specificity.present? %>
  var ctx2 = document.getElementById("chart-line").getContext("2d");

  var gradientStroke1 = ctx2.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(150,12,159,0)'); //purple colors

  var gradientStroke2 = ctx2.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(40,23,39,0)'); //purple colors

  new Chart(ctx2, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_specificity %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_specificity %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>

  <% if @org_class_accuracy.present? %>
  var ctx3 = document.getElementById("chart-line-class-acc").getContext("2d");

  var gradientStroke1 = ctx3.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(120,12,159,0)'); //purple colors

  var gradientStroke2 = ctx3.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(10,23,39,0)'); //purple colors

  new Chart(ctx3, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_class_accuracy %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_class_accuracy %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>


  <% if @org_f1_scores.present? %>
  var ctx4 = document.getElementById("chart-line-f1").getContext("2d");

  var gradientStroke1 = ctx4.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(160,12,159,0)'); //purple colors

  var gradientStroke2 = ctx4.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(70,23,39,0)'); //purple colors

  new Chart(ctx4, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_f1_scores %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_f1_scores %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>


  <% if @org_recalls.present? %>
  var ctx5 = document.getElementById("chart-line-recall").getContext("2d");

  var gradientStroke1 = ctx5.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(190,12,159,0)'); //purple colors

  var gradientStroke2 = ctx5.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(110,23,39,0)'); //purple colors

  new Chart(ctx5, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_recalls %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_recalls %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>


  <% if @org_precision.present? %>
  var ctx6 = document.getElementById("chart-line-precision").getContext("2d");

  var gradientStroke1 = ctx6.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(240,12,159,0)'); //purple colors

  var gradientStroke2 = ctx6.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(150,23,39,0)'); //purple colors

  new Chart(ctx6, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_precision %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_precision %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>


  <% if @org_auc.present? %>
  var ctx7 = document.getElementById("chart-line-auc").getContext("2d");

  var gradientStroke1 = ctx7.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

  var gradientStroke2 = ctx7.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

  new Chart(ctx7, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_auc %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_auc %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>

  <% if @org_sensitivity.present? %>
  var ctx8 = document.getElementById("chart-line-sensitivity").getContext("2d");

  var gradientStroke1 = ctx8.createLinearGradient(0, 230, 0, 50);

  gradientStroke1.addColorStop(1, 'rgba(203,12,159,0.2)');
  gradientStroke1.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke1.addColorStop(0, 'rgba(203,12,159,0)'); //purple colors

  var gradientStroke2 = ctx8.createLinearGradient(0, 230, 0, 50);

  gradientStroke2.addColorStop(1, 'rgba(20,23,39,0.2)');
  gradientStroke2.addColorStop(0.2, 'rgba(72,72,176,0.0)');
  gradientStroke2.addColorStop(0, 'rgba(20,23,39,0)'); //purple colors

  new Chart(ctx8, {
    type: "line",
    data: {
      labels: ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9"],
      datasets: [{
          label: "Original Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#cb0c9f",
          borderWidth: 3,
          backgroundColor: gradientStroke1,
          fill: true,
          data: <%= @org_sensitivity %>,
          maxBarThickness: 6

        },
        {
          label: "Mutated Model",
          tension: 0.4,
          borderWidth: 0,
          pointRadius: 0,
          borderColor: "#3A416F",
          borderWidth: 3,
          backgroundColor: gradientStroke2,
          fill: true,
          data: <%= @mutated_sensitivity %>,
          maxBarThickness: 6
        },
      ],
    },
    options: getChartOptions(),
  });
  <% end %>
</script>