<div class="col-6 p-2">
  <div class="card z-index-2">
    <div class="card-header pb-0">
      <h5><%= type.titlecase %> Comparison Of Original & Mutated Model-<%= index + 1 %>.</h5>
    </div>
    <div class="card-body p-3">
      <div class="chart">
        <canvas id="chart-bars-<%= id %>-<%= index %>" class="chart-canvas" height="400" data-report-type="<%= type %>" data-report-index="<%= index %>" data-project-id="<%=project_id%>"></canvas>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  (function() {
    window.saveProjectReportChartResourceBar = function(uid, r_type, index, pid, image_data) {
      if (image_data && image_data != 'data:,') {
        return $.ajax({
          url: '/projects/' + pid + '/report_chart_assets',
          data: {
            user_id: uid,
            project_id: pid,
            r_type: r_type,
            index: index,
            image_data: image_data
          },
          type: "POST",
          dataType: 'text',
          error: function(xhr, textStatus, errorThrown) {
            return console.log("PDF-Export AJAX Error: " + textStatus);
          }
        });
      }
    };

  }).call(this);

  var ctx = document.getElementById("chart-bars-<%= id %>-<%= index %>").getContext("2d");

  new Chart(ctx, {
    type: "bar",
    data: {
      labels: ["Original Model <%= index + 1 %>", "Mutated Model <%= index + 1 %>"],
      datasets: [{
        label: "Overall Accuracy",
        data: <%= [org_data, mutated_data].flatten %>,
      }, ],
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      plugins: {
        legend: {
          display: false,
        }
      },
      animation: {
        duration: 1,
        onComplete: function () {
          saveProjectReportChartResourceBar("<%=current_user.id%>", $(this.canvas).data('report-type'), $(this.canvas).data('report-index'), $(this.canvas).data('project-id'), this.canvas.toDataURL('image/png'));
        }
      },
      interaction: {
        intersect: false,
        mode: 'index',
      },
    },
  });
</script>