<tr>
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= project.status %></td>
  <td>
		<div>
      <ul class="list-inline justify-content-center">
        <li class="list-inline-item">
          <%= link_to project, 'data-toggle': "tooltip", 'data-placement': "top", title: "View", class: 'view' do %>
              <i class="fa fa-eye"></i>
          <% end %>
        </li>
          <li class="list-inline-item">
            <%= link_to edit_project_path(project), 'data-toggle': "tooltip", 'data-placement': "top", title: "Edit", class: 'edit' do %>
              <i class="fa fa-edit"></i>
            <% end %>
          </li>
        <li class="list-inline-item">
          <%= link_to destroy_project_path(id: project.id), method: :delete, data: { confirm: "Are You Sure?", "turbo-method": :delete }, 'data-toggle': "tooltip", 'data-placement': "top", title: "Delete Project", class: 'delete' do %>
              <i class="fa fa-trash"></i>
          <% end %>
        </li>
      </ul>
    </div>
	</td>
</tr>