<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <style>
      .row:before, .row:after {content: " ";display: table;}
      .row:after {clear: both;}
      .row:before, .row:after {content: " ";display: table;}
      .row:after {clear: both;}

      .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-xs-5, .col-xs-7, .col-xs-1, .col-xs-10{float:left; box-sizing: border-box; padding-left:1%;}
      .col-md-2{width:15%;}
      .col-md-3{width:24%;}
      .col-md-4{width: 32%;}
      .col-md-5{width: 40%;}
      .col-md-6{width:49%;}
      .col-md-7{width:58%;}
      .col-md-8{width:65%;}
      .col-md-9{width:74%;}
      .col-md-10{width:82%;}
      .col-xs-5 {width: 40%;}
      .col-xs-7 {width: 57%;}

      .col-xs-1{width:10%;}
      .col-xs-10{width:78%;}

      .nowrap{white-space: nowrap;}
      .nav-tabs{display:none;}
      .tab-content .tab-pane{margin-top:15px;}

      .thumb img{max-width:100%;}

      .for_pdf_only{display:block;}
      .page-break{ display:block; clear:both; page-break-after:always; position:relative;}
      .col-1-3{width:33%;float:left;}
      .col-2-3{width:66%;float:right;}
      .padded{padding:5px;}
      body{font-size:11px; color:#333333;line-height:1.2em;font-family: Arial, Helvetica, sans-serif;}
      canvas{display:block;}
      .text-center{text-align: center;}
      p{font-size:11px; line-height:1.2em; margin:2px 0 4px 0;}
      .pt-logo{width:150px;height:45px;}
      .m-b{margin-bottom:15px;}
      h1,h2,h3,h4{ color: #000000; line-height:1.25em;}
      h1{font-size:18px; margin:10px 0 7px 0;}
      h2{font-size:17px; margin:8px 0 5px 0;}
      h3{font-size:16px; margin:7px 0 4px 0;}
      h4{font-size:14px; margin:6px 0 3px 0;}
      img{max-width:100%;}
      img.responsive-image{max-width:100%;height:auto;}
      img.bordered{border:3px solid #DEDEDE;}
      hr{border:0; height:0; border-top:0; border-bottom:1px solid #DDDDDD;}
      table{width:100%; border-collapse:collapse; margin:0;border-spacing: 0;max-width: 100%;}
      tr.captbl{background: #EEE;}
      td{font-size:12px; text-align: center;border:1px solid #dddddd;border-top-left-radius: 0;border-top-right-radius: 0;}
      td.left{text-align: left;}
      .code_service_label{
        display: block;
        max-width: 350px;
        text-align: left;
      }

      .label{
        display: inline;
        padding: .2em .6em .3em;
        font-size: 75%;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
      }
      .label-danger{
        background-color: #d9534f;
      }
      .label-primary{
        background-color: #337ab7;
      }
      .label-default{
        background-color: #777;
      }

    </style>
    <%= wicked_pdf_stylesheet_link_tag "application" -%>

  </head>
  <body>
    


<div class="row" style="margin: 10px;">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Project Name</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.name %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-file text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Original Models</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.original_models.count %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-sitemap text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold"> Mutated Models</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.original_models.count %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-bacterium text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Value of K</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.hyper_params.dig("k_value") %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-refresh text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row my-3" style="margin: 10px;">
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Project Status</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.status %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-signal text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Model Selected</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.hyper_params.dig("model") %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-atom text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 font-weight-bold"> Mutation at layer</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.hyper_params.dig("layer") %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-layer-group text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-8">
            <div class="numbers">
              <p class="text-sm mb-0 text-capitalize font-weight-bold">Operator Applied</p>
              <h5 class="font-weight-bolder mb-0">
                <%= @project.hyper_params.dig("operator_type") %>
              </h5>
            </div>
          </div>
          <div class="col-4 text-end">
            <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
              <i class="fa fa-calculator text-lg opacity-10" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row mt-4" style="margin: 10px;">
  <div class="col-lg-7 mb-lg-0 mb-4">
    <div class="card">
      <div class="card-body p-3">
        <div class="row">
          <div class="col-lg-6">
            <div class="d-flex flex-column h-100">
              <h5 class="font-weight-bolder">Project Description</h5>
              <p class="mb-5"><%= @project.description %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card h-100 p-3">
      <div class="overflow-hidden position-relative border-radius-lg bg-cover h-100">
        <span class="mask bg-gradient-primary"></span>
        <div class="card-body position-relative z-index-1 d-flex flex-column h-100 p-3">
          <h5 class=" font-weight-bolder mb-4 pt-2">Operator Configurations are as following.</h5>
          <p class=""><%= operator_conf(@project) %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row card" style="page-break-before: always; margin-left: 20px; margin-right: 20px;">
  <h3 class="p-3 mx-3">Results</h3>
  <p class="mx-3">Status: <%= @project.results.dig("status") %></p>
  <p class="mx-3">Beta: <%= @project.results.dig("Beta") %></p>
  <p class="mx-3">P-Value: <%= @project.results.dig("P-Value") %></p>
  <p class="mx-3">Effect Size: <%= @project.results.dig("Effect Size") %></p>
  <% if @project.results.dig("Mutation") %>
    <p class="mx-3 text-success">Mutation is Successfully Killed!</p>
  <% else %>
    <p class="mx-3 text-danger">Ops, Mutation is Not Killed!</p>
  <% end %>
</div>
<div id="analysis-grid" style="margin-left: 20px; margin-right: 20px;">
  <div class="row">
    <h3 class="p-3 mx-3">Mutation Analysis (Tabular)</h3>
    <div>
      <%["overall_accuracy", "overall_precision", "accuracy", "specificity", "sensitivity", "precision", "recall", "f1_score", "AUC", "F_beta"].each_with_index do |matric, m_index|%>
        <div class="">
          <div class="show" aria-labelledby="tabular-flush-heading<%=m_index%>" data-bs-parent="#accordionFlushExample2">
            <div class="">
              <div class="row">
                <% @project.original_models.each_with_index do |model, index| %>
                  <% next if model.mutated_model.nil? %>
                  <% org_data = model.matrices[m_index][matric].values.map(&:to_f) %>
                  <% mutated_data = model.mutated_model.matrices[m_index][matric].values.map(&:to_f) %>
                  <% if matric.include?("overall") %>

                    <%#= render 'overall_tabular_analysis_tile', org_val: org_data[0], mutated_val: mutated_data[0], title: matric, index: index %>
                    <div class="row <% index%3==0 && index != 0 ? 'page-break': '' %>">
                      <div class="col-11">
                        <div class="card mb-4">
                          <div class="card-header pb-0">
                            <h5><%= matric.titlecase %> Comparison Of Original & Mutated Model-<%= index + 1 %>.</h5>
                          </div>
                          <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                              <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                  <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2"><%= matric.titlecase %></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><p class="text-sm font-weight-bold mb-0">Original Model <%= index + 1 %></p></td>
                                    <td><p class="text-sm font-weight-bold mb-0"> <%= org_data[0] %> </p></td>
                                  </tr>
                                  <tr>
                                    <td><p class="text-sm font-weight-bold mb-0">Mutated Model <%= index + 1 %></p></td>
                                    <td>
                                      <% if mutated_data[0] < org_data[0] %>
                                        <p class="text-sm font-weight-bold mb-0 text-danger"> <%= mutated_data[0] %> 
                                      <% elsif mutated_data[0] > org_data[0] %>
                                        <p class="text-sm font-weight-bold mb-0 text-success"> <%= mutated_data[0] %>
                                      <% elsif mutated_data[0] == org_data[0] %>
                                        <p class="text-sm font-weight-bold mb-0"> <%= mutated_data[0] %> 
                                      <% end %>
                                    </p></td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% else %>
                    <div class="row <% (index+1)%3==0 && index != 0 ? 'page-break': '' %>">
                      <div class="col-11">
                        <div class="card mb-4">
                          <div class="card-header pb-0">
                            <h5><%= matric.titlecase %> Comparison Of Original & Mutated Model-<%= index + 1 %>.</h5>
                          </div>
                          <div class="card-body px-0 pt-0 pb-2">
                            <div class="table-responsive p-0">
                              <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                  <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">0</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">1</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">2</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">3</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">4</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">5</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">6</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">7</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">8</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder ps-2">9</th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td><p class="text-sm font-weight-bold mb-0">Original Model</p></td>
                                    <% org_data.each do |value| %>
                                      <td><p class="text-sm font-weight-bold mb-0"> <%= value %> </p></td>
                                    <% end %>
                                  </tr>
                                  <tr>
                                    <td><p class="text-sm font-weight-bold mb-0">Mutated Model</p></td>
                                    <% mutated_data.each_with_index do |value, index| %>
                                      <td> 
                                        <% if value < org_data[index] %>
                                          <p class="text-sm font-weight-bold mb-0 text-danger"> <%= value %> 
                                        <% elsif value > org_data[index] %>
                                          <p class="text-sm font-weight-bold mb-0 text-success"> <%= value %>
                                        <% elsif value == org_data[index] %>
                                          <p class="text-sm font-weight-bold mb-0"> <%= value %> 
                                        <% end %>
                                      </p></td>
                                    <% end %>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row" style="margin: 10px">
  <h5>Above Was Tabular Analysis Report generated by XAVIER.</h5>
</div>
  </body>
</html>

