<% if params[:layer].include?("conv") %>
  <% if @project.hyper_params.dig("operator_type").eql?("change-bias-value") %>

    <div class="container-fluid py-4 ">
      <div class="row">
        <div class="col">
          <h6>Following are Biased Values of <%= params[:layer]%>:</h6>
        </div>
        <div class="col d-none">
          <%= link_to "Compare Mutant & Original Weights", '#', class: "btn btn-secondary"%>
        </div>
      </div>
      <h5>Please Select a Bias on which you want to apply mutation operator:</h5>
      <% @kernels.each_with_index do |kernel, index_i| %>
        <div class="row py-4">
          <div class="col-12 text-center" style="background-color: rgb(255, 209, 102);">
            <h3 class="text-white font-weight-bolder mb-0">Kernel <%= index_i %></h3>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
          <button type="button" class="btn btn-secondary" style="width: 20%;" onclick="open_mutation_modal(this);" data-kernel="<%= index_i %>">
            Bias for Kernel <%= index_i %>
          </button>
        </div>
      <% end %>
    </div>

    <div class="modal fade" id="mutationModal" tabindex="-1" aria-labelledby="mutationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mutationModalLabel">Please Select a Mutation Operator</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for :operator_type, url: start_mutation_testing_path(id: @project.id) do |f| %>
          <div class="modal-body">
            <h4>Please Choose One Of Following Operators: </h4>
              <%= f.hidden_field :modal_kernel %>
              <%= f.hidden_field :modal_row %>
              <%= f.hidden_field :modal_col %>
              <% @operator_list.each do |operator_data| %>
                <%= f.radio_button :operator, operator_data[0], { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
                <%= f.label :operator, operator_data[1], value: operator_data[0], class: "btn btn-outline-secondary" %>  
              <% end %>
              <br>
              <div class="row d-none" id = "operator_type_value"> 
                <p>Please Select Value For Operator:</p>
                <%= f.number_field :op_value, class: "form-control", step: "any", max: 999999 %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Generate Mutant</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      function open_mutation_modal(event) {
        kernel = event.dataset.kernel;
        row = event.dataset.row;
        col = event.dataset.col;
        $('#operator_type_modal_kernel').val(kernel);
        $('#operator_type_modal_row').val(row);
        $('#operator_type_modal_col').val(col);
        $('#mutationModal').modal('toggle');
      }

      function show_field_after_clicking_operator(event) {
        if (event.value == "change-neuron") {
          $('#operator_type_value').removeClass("d-none");
        }
        else {
          $('#operator_type_value').addClass("d-none");
        }
      }  
    </script>




  <% else %>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col">
          <h6>Following are Trainable Weights of <%= params[:layer]%>:</h6>
        </div>
        <div class="col d-none">
          <%= link_to "Compare Mutant & Original Weights", '#', class: "btn btn-secondary"%>
        </div>
      </div>
      <h5>Please Select a Neuron on which you want to apply mutation operator:</h5>
      <% @kernels.each_with_index do |kernel, index_i| %>
        <div class="row py-4">
          <div class="col-10 text-center" style="background-color: rgb(255, 209, 102);">
            <h3 class="text-white font-weight-bolder mb-0">Kernel <%= index_i %></h3>
          </div>
        </div>
        <div class="row">
          <% kernel.each_with_index do |layer, index_j| %>
            <div class="col-10 btn-group me-2" role="group" aria-label="Second group">
              <% layer.each_with_index do |weight, index_k| %>
                <button type="button" class="btn btn-secondary" style="width: 20%;" onclick="open_mutation_modal(this);" data-kernel="<%= index_i %>" data-row="<%= index_j %>" data-col="<%= index_k %>"><%= "(#{index_j}, #{index_k})" %></button>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="modal fade" id="mutationModal" tabindex="-1" aria-labelledby="mutationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mutationModalLabel">Please Select a Mutation Operator</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for :operator_type, url: start_mutation_testing_path(id: @project.id) do |f| %>
          <div class="modal-body">
            <h4>Please Choose One Of Following Operators: </h4>
              <%= f.hidden_field :modal_kernel %>
              <%= f.hidden_field :modal_row %>
              <%= f.hidden_field :modal_col %>
              <% @operator_list.each do |operator_data| %>
                <%= f.radio_button :operator, operator_data[0], { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
                <%= f.label :operator, operator_data[1], value: operator_data[0], class: "btn btn-outline-secondary" %>  
              <% end %>
              <br>
              <div class="row d-none" id = "operator_type_value"> 
                <p>Please Select Value For Operator:</p>
                <%= f.number_field :op_value, class: "form-control", step: "any", max: 999999 %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Generate Mutant</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>


    <script type="text/javascript">
      function open_mutation_modal(event) {
        kernel = event.dataset.kernel;
        row = event.dataset.row;
        col = event.dataset.col;
        $('#operator_type_modal_kernel').val(kernel);
        $('#operator_type_modal_row').val(row);
        $('#operator_type_modal_col').val(col);
        $('#mutationModal').modal('toggle');
      }

      function show_field_after_clicking_operator(event) {
        if (event.value == "change-neuron") {
          $('#operator_type_value').removeClass("d-none");
        }
        else {
          $('#operator_type_value').addClass("d-none");
        }
      }  
    </script>
  <% end %>
<% elsif params[:layer].include?("dense") %>
  
  <% if @project.hyper_params.dig("operator_type").eql?("change-bias-value") %>
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col">
          <h6>Following are Biased Values of <%= params[:layer] %>:</h6>
        </div>
        <div class="col d-none">
          <%= link_to "Compare Mutant & Original Weights", '#', class: "btn btn-secondary"%>
        </div>
      </div>
      <h5>Please Select a Bias on which you want to apply mutation operator:</h5>
      <% @kernels.each_with_index do |kernel, index_i| %>
        <div class="row py-4">
          <div class="col-12 text-center" style="background-color: <%= color_according_to_layer(params[:layer]) %>;">
            <h3 class="text-white font-weight-bolder mb-0">Neuron <%= index_i %></h3>
          </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
          <button type="button" class="btn btn-secondary btn-sm" style="width: 20%;" onclick="open_mutation_modal(this);" data-curr="<%= index_i %>" >Bias for Neuron <%= index_i %>
          </button>
        </div>
      <% end %>
    </div>
    <div class="modal fade" id="mutationModal" tabindex="-1" aria-labelledby="mutationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mutationModalLabel">Please Select a Mutation Operator</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for :operator_type, url: start_mutation_testing_path(id: @project.id) do |f| %>
          <div class="modal-body">
            <h4>Please Choose One Of Following Operators: </h4>
              <%= f.hidden_field :modal_prev %>
              <%= f.hidden_field :modal_curr %>


              <%= f.radio_button :operator, "change-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Change weight", value: "change-edge", class: "btn btn-outline-secondary" %>
              <%= f.radio_button :operator, "block-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Block weight", value: "block-edge", class: "btn btn-outline-secondary" %>
               <%= f.radio_button :operator, "mul-inverse-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Multiplicative Inverse weight", value: "mul-inverse-edge", class: "btn btn-outline-secondary" %>
               <%= f.radio_button :operator, "additive-inverse-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Additive Inverse Weight", value: "additive-inverse-edge", class: "btn btn-outline-secondary" %>


              <br>
              <div class="row d-none" id = "operator_type_value"> 
                <p>Please Select Value For Operator:</p>
                <%= f.number_field :op_value, class: "form-control", step: "any", max: 999999 %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Generate Mutant</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function open_mutation_modal(event) {
        prev = event.dataset.prev;
        curr = event.dataset.curr;
        $('#operator_type_modal_prev').val(prev);
        $('#operator_type_modal_curr').val(curr);
        $('#mutationModal').modal('toggle');
      }

      function show_field_after_clicking_operator(event) {
        if (event.value == "change-edge") {
          $('#operator_type_value').removeClass("d-none");
        }
        else {
          $('#operator_type_value').addClass("d-none");
        }
      }  
    </script>

  <% else %>

    <div class="container-fluid py-4">
      <div class="row">
        <div class="col">
          <h6>Following are Trainable Weights of <%= params[:layer] %>:</h6>
        </div>
        <div class="col d-none">
          <%= link_to "Compare Mutant & Original Weights", '#', class: "btn btn-secondary"%>
        </div>
      </div>
      <h5>Please Select a Weight on which you want to apply mutation operator:</h5>
      <% @kernels.each_with_index do |kernel, index_i| %>
        <div class="row py-4">
          <div class="col-12 text-center" style="background-color: <%= color_according_to_layer(params[:layer]) %>;">
            <h3 class="text-white font-weight-bolder mb-0">Neuron <%= index_i %></h3>
          </div>
        </div>
        <div class="row">
          <% kernel.each_with_index do |weight, index_j| %>
            <div class="col-1 btn-group me-2" role="group" aria-label="Second group">
              <button type="button" class="btn btn-secondary btn-sm" style="" onclick="open_mutation_modal(this);" data-prev="<%= index_i %>" data-curr="<%= index_j %>" ><%= index_j %></button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="modal fade" id="mutationModal" tabindex="-1" aria-labelledby="mutationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="mutationModalLabel">Please Select a Mutation Operator</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <%= form_for :operator_type, url: start_mutation_testing_path(id: @project.id) do |f| %>
          <div class="modal-body">
            <h4>Please Choose One Of Following Operators: </h4>
              <%= f.hidden_field :modal_prev %>
              <%= f.hidden_field :modal_curr %>


              <%= f.radio_button :operator, "change-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Change weight", value: "change-edge", class: "btn btn-outline-secondary" %>
              <%= f.radio_button :operator, "block-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Block weight", value: "block-edge", class: "btn btn-outline-secondary" %>
               <%= f.radio_button :operator, "mul-inverse-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Multiplicative Inverse weight", value: "mul-inverse-edge", class: "btn btn-outline-secondary" %>
               <%= f.radio_button :operator, "additive-inverse-edge", { checked: false, class: "btn-check p-2 select_input", onclick: "show_field_after_clicking_operator(this)", required: true } %>
              <%= f.label :operator, "Additive Inverse Weight", value: "additive-inverse-edge", class: "btn btn-outline-secondary" %>


              <br>
              <div class="row d-none" id = "operator_type_value"> 
                <p>Please Select Value For Operator:</p>
                <%= f.number_field :op_value, class: "form-control", step: "any", max: 999999 %>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Generate Mutant</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function open_mutation_modal(event) {
        prev = event.dataset.prev;
        curr = event.dataset.curr;
        $('#operator_type_modal_prev').val(prev);
        $('#operator_type_modal_curr').val(curr);
        $('#mutationModal').modal('toggle');
      }

      function show_field_after_clicking_operator(event) {
        if (event.value == "change-edge") {
          $('#operator_type_value').removeClass("d-none");
        }
        else {
          $('#operator_type_value').addClass("d-none");
        }
      }  
    </script>
  <% end %>
<% end %>